body {
    font-size: 15px;
    font-family: Arial;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(180deg, #A2D2FD, #8DE0FE, #FFAFCC, #FFC8DD, #CDB4DB);
}

#small {
    font-size: 18px;
    text-align: center;
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;
    margin: 50px auto 20px auto;
}

#big {
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    text-shadow: 0px 10px 20px pink;
}


#message {
    border: 1px solid white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.2);

    p {
        text-align: justify;
        
        span {
            font-size: 35px;
            font-family: cursive;
        }
    }
}

#text {
    background: white;
    border-radius: 20px;
    padding: 20px;
    margin: 50px auto 100px auto;
    width: 80%;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.2);
    
    p {
        text-align: justify;
    }
}

#last {
    border: 1px solid black;
    border-radius: 20px;
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.2);
    
    p {
        text-align: justify;
    }
}

#area {
    border-radius: 20px;
    background: transparent;
    outline-color: white;
    margin: 50px auto 100px auto;
    padding: 20px;
    width: 85%;
    line-height: 20px;
    text-align: justify;
}


#but {
    margin: 50px auto 300px auto;
    width: 60%;
    height: 50px;
    
    a {
        background: black;
        color: white;
        display: block;
        padding: 20px;
        height: 60px;
        width: 210px;
        box-sizing: border-box;
        border-radius: 20px;
        text-align: center;
        text-decoration: none;
    }
    
    a:before {
        content: "";
        background: linear-gradient(45deg, red, violet, blue, cyan, yellow, orange, red);
        background-size: 400%;
        position: absolute;
        border-radius: 20px;
        width: 210px;
        height: 60px;
        z-index: -1;
        translate: -47% -35%;
        padding: 3px;
        filter: blur(3px);
        animation: move 10s linear infinite;
        
    }
}

@keyframes move {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -400%;
    }
}
